{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block title %}To Do List{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>To Do</h1>

      {{ wtf.quick_form(form, novalidate=True)}}
      {% if error != None %}
        <p class="space-above">{{error}}</a></p>
      {% endif %}

    </div>
  </div>
</div>

<div class = "container">
    <table class="table">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">To Do</th>
            <th scope="col">Completed?</th>
            <th scope="col">Time Created</th>
            <th scope="col">Time Updated</th>
            <th scope="col">Complete</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for to_do in to_do_list %}
                {% if to_do.complete == True %}
                    <tr style="background-color:#90ee90">
                        <td style="font-weight:bold">{{to_do.todo.title()}}</td>
                        <td>{{to_do.complete}}</td>
                        <td>{{to_do.time_created}}</td>
                        <td>{{to_do.time_updated}}</td>
                        <td><a class="btn btn-warning btn-sm" href="{{url_for('complete', id = to_do.id)}}" role="button">Uncomplete</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{{url_for('delete', id = to_do.id)}}" role="button">Delete</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td style="font-weight:bold">{{to_do.todo.title()}}</td>
                        <td>{{to_do.complete}}</td>
                        <td>{{to_do.time_created}}</td>
                        <td>{{to_do.time_updated}}</td>
                        <td><a class="btn btn-success btn-sm" href="{{url_for('complete', id = to_do.id)}}" role="button">Complete</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{{url_for('delete', id = to_do.id)}}" role="button">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
        </table>
    </table>
</div>

{% endblock %}
